In [1]:
import json
from json_flattener import flatten, unflatten
import pprint

pp = pprint.PrettyPrinter(indent=2)

FILENAME = 'sample4.json'
f = open(FILENAME, 'r')
data = json.load(f)
f.close()

flattened = flatten(data)
unflattened = unflatten(flattened)

In [2]:
pp.pprint(data)

{ 'people': [ { 'age': 28,
                'firstName': 'Joe',
                'gender': 'male',
                'lastName': 'Jackson',
                'number': '7349282382'},
              { 'age': 32,
                'firstName': 'James',
                'gender': 'male',
                'lastName': 'Smith',
                'number': '5678568567'},
              { 'age': 24,
                'firstName': 'Emily',
                'gender': 'female',
                'lastName': 'Jones',
                'number': '456754675'}]}

In [4]:
pp.pprint(flattened)

{ 'people.[0].age': 28,
  'people.[0].firstName': 'Joe',
  'people.[0].gender': 'male',
  'people.[0].lastName': 'Jackson',
  'people.[0].number': '7349282382',
  'people.[1].age': 32,
  'people.[1].firstName': 'James',
  'people.[1].gender': 'male',
  'people.[1].lastName': 'Smith',
  'people.[1].number': '5678568567',
  'people.[2].age': 24,
  'people.[2].firstName': 'Emily',
  'people.[2].gender': 'female',
  'people.[2].lastName': 'Jones',
  'people.[2].number': '456754675'}

In [5]:
pp.pprint(unflattened)

{ 'people': [ { 'age': 28,
                'firstName': 'Joe',
                'gender': 'male',
                'lastName': 'Jackson',
                'number': '7349282382'},
              { 'age': 32,
                'firstName': 'James',
                'gender': 'male',
                'lastName': 'Smith',
                'number': '5678568567'},
              { 'age': 24,
                'firstName': 'Emily',
                'gender': 'female',
                'lastName': 'Jones',
                'number': '456754675'}]}

In [6]:
for i in range(4):
    FILENAME = 'sample' + str(i+1) + '.json'
    f = open(FILENAME, 'r')
    data = json.load(f)
    f.close()
  
    flattened = flatten(data)
    unflattened = unflatten(flattened)

    print(FILENAME , '-' , data == unflattened)   # CHECKS IF UNFLATTENING AFTER FLATTENING GIVES ORIGINAL INPUT

sample1.json - True
sample2.json - True
sample3.json - True
sample4.json - True